<script src="./assets/js/jquery-3.4.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>

<script src="./assets/js/navbar.js"></script>
<script src="./assets/js/main.js"></script>
